.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    // flex-direction: column;
    .Filterbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;

        span {
            svg {
                font-size: 8px;
            }
        }
    }

    .sortBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        direction: rtl;
        margin-top: 15px;
        width: 100%;
    }

    .infinite-scroll-component {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        // .listBox {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     flex-wrap: wrap;
        // }
    }
}


.anticon {
    svg {
        width: 3em;
        height: 3em;
    }
}

svg.ant-select-arrow {
    font-size: 4px !important;
}

.anticon-down {
    svg {
        font-size: 6px !important;
    }
}

@media (max-width:1120px) {
    .container {
        font-size: 0.9em;
        padding: 30px 20px;
    }
}

@media (max-width:978px) {
    .container {
        font-size: 1em;
        padding: 20px 10px;
    }
}

@media (max-width:800px) {
    .container {
        font-size: 0.9em;
    }
}

@media (max-width:550px) {
    .container {
        font-size: 1em;
    }
}

@media (max-width:450px) {
    .container {
        font-size: 0.9em;
    }
}